.node {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}
.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
.link {
  stroke: #999;
  cursor: pointer;
}
.link_selected {
  stroke: #ff7f0e;
}
.rangeInput {
  background-color: #FFF;
}


/* cursor: pointer;
cursor: grab;
cursor: grabbing; */
