/* nothing */

body {
  color: black;
}

#graph-box {
  float: left;
  width: 512px;
  height: 512px;
}

.edit {
  height: 10em;
}

#graph-box {
  margin: 0 2em 0 1em;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
}
