{% load static %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{% block title %}Base{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %} {% endblock %}
		<meta name="keywords" content="">

		<link rel="icon" href="{% static 'front/icon.png' %}"/>

		{% block extrahead %}
		{% endblock %}

	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>


</html>
