{% extends 'front/base.html' %}

{% load static %}

{% block title %} Graph {% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/extrastyle.css' %}"/>
<script src="{% static 'front/js/d3v4.js' %}"></script>
<script src="{% static 'front/js/mithril-v2.0.0.js' %}"></script>
<script src="{% static 'front/js/jquery-3.3.1.slim.min.js' %}"></script>

{# <script src="{% static 'front/js/graph/displayGraph.js' %}"></script> #}
<script src="{% static 'front/js/api/objectAPI.js' %}"></script>
<script src="{% static 'front/js/graph/graph.js' %}"></script>
<script src="{% static 'front/js/graph/functions.js' %}"></script>
<script src="{% static 'front/js/graph/components.js' %}"></script>
{% endblock %}

{% block body %}

<div id="graph-box"></div>
<div id="message"></div>
<hr/>
<div id="nodeBlock" class="edit"></div>
<hr/>
<div id="edgeBlock" class="edit"></div>
<hr/>
<div id="graphInfo"></div>

<script>
var GRAPH = {}
var DEBUG = {}
var DATA = {}
DATA.meta = {nodeKinds: [], edgeKinds: []}
DATA.new = {node: null, edge: null}
var RESPONSE = {message: "  "}

{% if user.is_superuser %}
var is_superuser = true
RESPONSE.message = "You are connected as admin"
{% else %}
var is_superuser = false
RESPONSE.message = "Login to edit"
{% endif %}

getMetaData()
getGraph()

</script>

{% endblock %}
