{% load static %}


<!doctype html>
<html>
<head>
  <meta charset="utf8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous">
  <style>
    #info { border: solid 1px gray;}
  </style>

  <script src="{% static 'front/js/mithril-v2.0.0.js' %}"></script>
  <script src="{% static 'front/js/jquery-3.3.1.slim.min.js' %}"></script>

  <script>

  // get cookie
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  // send object (action can be create, update, or delete)
  function sendObject(action, data) {
    var csrftoken = getCookie('csrftoken');
    m.request({
      method: "POST",
      url: "http://localhost:8000/api/" + action + "/",
      data: data,
      headers: {'X-CSRFTOKEN': csrftoken},
    })
    .then( function(result) { // success
        RESPONSE = result
    })
    .catch(function(error) { // error : do nothing
        RESPONSE = error.response
    })
  }
  </script>

</head>
<body>
  logged in as: {{ user }} <br>
  account: {{ user.authmethod.account }}<br>
  account node: {{ user.authmethod.account.node }}<br>
  node: {{uNode }}<br><br>

  {% if interact %}
    {% for action in interact %}
      <button onclick="sendObject('{{action.name}}', {type: '{{action.type}}', source: {uuid:'{{action.source.pk}}'}, target: {uuid: '{{action.source.pk}}'} } )"> {{action.message}} </button>
    {% endfor %}
  {% endif %}

  <div id="info">
  <h2>{{ node.name }} <a href="{% url 'base:node' node.pk %}">#</a></h2>
  <ul>
  {% for link in links %}
    <li> <i class="fa {{link.fa}}"></i> <a href="{{link.url}}">{{link.url}}</a> </li>
  {% endfor %}
  </ul>
  <ul>
  {% for tag in tags %}
    <li> <a href="#">#{{tag.tag}}</a> </li>
  {% endfor %}
  </ul>
  {% for type, rels in relatives.items %}
    {{ type }}:
    <ul>
      {% for rel in rels %}
        <a href="{% url 'base:node' rel.toNode.pk %}">{{rel.toNode}}</a>
      {% endfor %}
    </ul>
  {% endfor %}
  </div>

  {% if editable %}
  <div id="manage">
    <!-- it may be better to do an app instead of POSTing forms -->
  </div>
  {% endif %}

  <p>Watch on graph to see relations</p>
</body>
</html>
